table {
    border-collapse: collapse;
    height: 50%;
    align-items: center;
    margin: 0 auto;
}

td, th {
    width: 250px;
    text-align: center;
    padding: 8px;
    
}

body{
    background-color:white
}

header{
    font-size: 30px;
    color: lightseagreen;
}
#order-tag{
    text-align: center;
    width: 100%;
}
div{
    display: flex;
    justify-content:center;
    
}
button{
   padding: 5px;
   font-size: 14px;
}
.divider{
    width:5px;
    height:auto;
    display:inline-block;
}
