table {
    border-collapse: collapse;
    height: 50%;
  
    align-items: center;
    margin: 0 auto;
}

td, th {
    width: 250px;
    text-align: center;
    border: solid rgba(9, 223, 238, 0.582);
    
}

body{
    background-color: lightpink;
}

header{
    font-size: 30px;
    color: lightseagreen;
}
#order-tag{
    text-align: center;
    width: 100%;
}
div{
    display: flex;
    justify-content:flex-end;
}
